@import url(font-awesome.min.css);
html {
  position: relative;
  min-height: 100%;
}
body{ 
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  color: #000;
  padding-top: 50px;
  font-smooth: auto;
  -moz-font-smooth: auto;
  -webkit-font-smooth: auto;
  text-rendering: optimizeLegibility;
  background: #F5F5F5;

  /*Margin bottom by footer height*/
  margin-bottom: 80px;
}

*{
  /*for IE scrollbar change*/
  scrollbar-face-color:#999;
  scrollbar-base-color:none;
  scrollbar-arrow-color:#3F77E2;
  scrollbar-track-color: #F8F8F8;
  scrollbar-shadow-color:none;
  scrollbar-highlight-color:none;
  scrollbar-3dlight-color:none;
  scrollbar-darkshadow-Color:none;
}

::-webkit-scrollbar { width: 8px; background: #ddd;height: 8px;}
::-webkit-scrollbar-track { border-radius: 0px;}
::-webkit-scrollbar-thumb { border-radius: 0px; background-color: #999;}
::-webkit-scrollbar-thumb:hover {background-color:#111;}

::selection{color: #ffffff;background-color: #3F77E2;}
::-webkit-selection{color: #ffffff;background-color: #3F77E2;}
::-moz-selection{color: #ffffff;background-color: #3F77E2;}
::-ms-selection{color: #ffffff;background-color: #3F77E2;}
::-o-selection{color: #ffffff;background-color: #3F77E2;}


.mt0 { margin-top: 0px !important;}
.mt3{margin-top: 3px!important;}
.mt4{margin-top: 4px!important;}
.mt5{margin-top: 5px!important;}
.mt6{margin-top: 6px!important;}
.mt7{margin-top: 7px!important;}
.mt8{margin-top: 8px!important;}
.mt10{margin-top: 10px!important;}
.mt12{margin-top: 12px!important;}
.mt14{margin-top: 14px!important;}
.mt15{margin-top: 15px!important;}
.mt20{margin-top: 20px!important;}
.mt25{margin-top: 25px!important;}
.mt30{margin-top: 30px!important;}
.mt40{margin-top: 40px!important;}
.mt50{margin-top: 50px!important;}
.r{ box-shadow: inset 0px 0px 10px red; }



/*loade style*/
.loader{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
  display: table;
}
.loader .spinner {
  margin: 0px auto;
  width: 80px;
  height: 70px;
  text-align: center;
  font-size: 10px;
  display: block;
  vertical-align: middle;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -40px;

}
.loader .spinner > div {
  background: #eab92d; /* Old browsers */
  background: -moz-linear-gradient(top,  #eab92d 0%, #dce014 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eab92d 0%,#dce014 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eab92d 0%,#dce014 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#dce014',GradientType=0 ); /* IE6-9 */

  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.loader .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loader .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.loader .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.loader .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4);}
  20% { transform: scaleY(1.0);}
}

a:link, input, button, select{outline: none!important;}

.text-theme{ color: #EC971F;}
.text-black{ color: #000000;}
.text-gray{ color: #888888;}
.text-blue{ color: #0269C2}
.text-blue-shadow{text-shadow: 0px 1px 1px #0269C2}
.text-black-shadow{text-shadow: 0px 1px 1px #333}

.navbar-inverse .navbar-nav > li > a{
  font-size: 13px;
  color: #444;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover{
  color: #111;
}
.navbar-inverse{
  /*background: rgba(255,220,115,0.9);*/
  background: linear-gradient(#97700B, #ECBA3D);
  border-bottom: 1px solid #E9BC2B;
}
.navbar-brand{
  padding-top: 5.5px;
}
.navbar-brand img{
  height: 40px;
  border: 1px solid #E9BC2B;
}



.form-control{
  border-radius: 2px!important;
  box-shadow: none;
  /*border-color: #009ECE;*/
  border-color: #D4A52F;
}
.btn{border-radius: 2px!important;}
.image-set{
  position: absolute;
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0px;
  top: 0px;
  overflow:hidden;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}







/*footer design style*/
.footer {
  border-top: 1px solid #f2ce02;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: rgba(235,185,61,0.9);
}
.footer ul{
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  margin-top: 5px;
}
.footer ul li{
  line-height: 13px;
  display: inline-block;
  border-left: 1px solid #EC971F;
  padding-left: 12px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer ul li:first-child{
  border-left: none;
}
.footer ul li a{
  font-size: 13px;
  /*color: #009ECE;*/
  color: #333;
}
.copy-rights{
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #555;
}
.error-design{
    font-weight:normal;
    font-size:14px;
    color:red;
}

.error{
    font-weight:normal;
    font-size:14px;
    color:red;
}
@media(max-width: 360px){
  body{ margin-bottom: 100px;}
  .footer {
    height: 80px;
  }
}
