/*--- Raleway-Regular ---*/
@font-face {
  font-family: 'Raleway-Regular';
  src: url('Raleway-Regular.eot');
  src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('Raleway-Regular.woff2') format('woff2'),
       url('Raleway-Regular.woff') format('woff'),
       url('Raleway-Regular.ttf') format('truetype'),
       url('Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*--- MyriadPro-Regular ---*/
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('MyriadPro-Light.eot');
  src: local('☺'),
    url('MyriadPro-Light.woff') format('woff'),
    url('MyriadPro-Light.ttf') format('truetype'),
    url('MyriadPro-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
