@font-face {
	font-family:'AvenirBook-Regular';
	src: url('Avenir-Book_gdi.eot');
	src: url('Avenir-Book_gdi.eot?#iefix') format('embedded-opentype'),
		url('Avenir-Book_gdi.woff') format('woff'),
		url('Avenir-Book_gdi.ttf') format('truetype'),
		url('Avenir-Book_gdi.svg#AvenirBook-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
