@media screen and (max-width: 991px){
	.profile-right {
		height: auto;
		padding: 10px 0px 10px 200px;
	}
	.profile-right h1 {
		line-height: 28px;
		font-size: 18px;
		font-weight: 400;
	}
	.section-right {
		line-height: 28px;
	}
	.header-bottom-menu {
		background: #ECBA3D;
	}
	.scnd-mob-nav, .menusimple-mob-nav {
		display: block;
	}
	.topnav, .menu_simple {
		display: none;
	}
	.menu_simple.display-menuzz {
		display: block;
		position: absolute;
		left: 0px;
		top: 45px;
		width: 100%;
		z-index: 1;
	}
	.topnav.display-menuz {
		display: block;
		position: absolute;
		left: 0px;
		top: 40px;
		width: 100%;
		text-align: center;
		z-index: 1;
	}
	.menu_simple ul li a {
		display: block;
		width: 100%;
		text-align: center;
	  border-right: 0px solid #c38c04;
	  border-top: 1px solid #fff;
	}
	.topnav ul li a {
	  display: block;
	  float: none;
	  border-right: 0px;
	  border-top:1px solid #fff;
	  background-color: #ECBF4B;
	}
	.topnav ul li a:hover,
	.topnav ul li a.active {
		background-color: #97700B;
	}
}

@media screen and (max-width: 480px){
	.profile-img {
    height: 100px;
    width: 100px;
	}
	.profile-right {
		padding-left: 130px;
	}
}

@media screen and (max-width: 360px){
	.search-right form input{
		width: 160px;
	}
	.section-right{float: left;}
	.section-right a.btn{
		display: block;
		margin-bottom: 5px;
		width: 100%;
	}
}