@import url(font-awesome.min.css);
/* Sticky footer styles---- */
html {
  position: relative;
  min-height: 100%;
}
body{	
	min-height: 100%;
	width: 100%;
	font-size: 16px;
	color: #000;
	padding-top: 50px;
	font-smooth: auto;
	-moz-font-smooth: auto;
	-webkit-font-smooth: auto;
	text-rendering: optimizeLegibility;
	background: #F5F5F5;

	/*Margin bottom by footer height*/
  margin-bottom: 80px;
}
.r{ box-shadow: inset 0px 0px 10px red; }

.noresize {resize: none;}

.mt0 { margin-top: 0px !important;}
.mt3{margin-top: 3px!important;}
.mt4{margin-top: 4px!important;}
.mt5{margin-top: 5px!important;}
.mt6{margin-top: 6px!important;}
.mt7{margin-top: 7px!important;}
.mt8{margin-top: 8px!important;}
.mt10{margin-top: 10px!important;}
.mt11{margin-top: 11px!important;}
.mt12{margin-top: 12px!important;}
.mt14{margin-top: 14px!important;}
.mt15{margin-top: 15px!important;}
.mt20{margin-top: 20px!important;}
.mt25{margin-top: 25px!important;}
.mt30{margin-top: 30px!important;}
.mt40{margin-top: 40px!important;}
.mt50{margin-top: 50px!important;}

.mlr0{margin-left: 0px!important; margin-right: 0px!important;}
.mlr1{margin-left: 1px!important; margin-right: 1px!important;}
.mlr2{margin-left: 2px!important; margin-right: 2px!important;}
.mlr3{margin-left: 3px!important; margin-right: 3px!important;}
.ml4{margin-left: 4px!important; margin-right: 4px!important;}
.mlr5{margin-left: 5px!important; margin-right: 5px!important;}
.mlr6{margin-left: 6px!important; margin-right: 6px!important;}
.mlr7{margin-left: 7px!important; margin-right: 7px!important;}
.mlr8{margin-left: 8px!important; margin-right: 8px!important;}
.mlr10{margin-left: 10px!important; margin-right: 10px!important;}

.minustop0{top: 0px!important;}
.minustop5{top: -5px!important;}
.minustop9{top: -9px!important;}
.minustop10{top: -10px!important;}

.minust5{margin-top: -5px!important;}
.minust6{margin-top: -6px!important;}
.minust7{margin-top: -7px!important;}
.minust8{margin-top: -8px!important;}
.minust9{margin-top: -9px!important;}
.minust10{margin-top: -10px!important;}
.minust11{margin-top: -11px!important;}
.minust12{margin-top: -12px!important;}
.minust13{margin-top: -13px!important;}
.minust14{margin-top: -14px!important;}
.minust15{margin-top: -15px!important;}
.minust16{margin-top: -16px!important;}
.minust17{margin-top: -17px!important;}
.minust18{margin-top: -18px!important;}
.minust19{margin-top: -19px!important;}
.minust20{margin-top: -20px!important;}

.mb0{margin-bottom:0px!important;}
.mb5{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}
.mb20{margin-bottom:20px!important;}
.mb25{margin-bottom:25px!important;}
.mb30{margin-bottom:30px!important;}
.mb40{margin-bottom:40px!important;}
.mb50{margin-bottom:50px!important;}

.mL0{margin-left:0px!important;}
.mL5{margin-left:5px!important;}
.mL10{margin-left:10px!important;}
.mL15{margin-left:15px!important;}
.mL20{margin-left:20px!important;}
.mL22{margin-left:22px!important;}

.mR0{margin-right:0px!important;}
.mR5{margin-right:5px!important;}
.mR10{margin-right:10px!important;}
.mR15{margin-right:15px!important;}
.mR20{margin-right:20px!important;}

.r{box-shadow:inset 0px 0px 10px red;}
.g{box-shadow:inset 0px 0px 10px green;}
.b{box-shadow:inset 0px 0px 10px blue;}

.bdr-0{border: none!important;}
.bdr{border: 1px solid #ddd!important;}
.bdr-t{border-top: 1px solid #ddd!important;}
.bdr-r{border-right: 1px solid #ddd!important;}
.bdr-b{border-bottom: 1px solid #ddd!important;}
.bdr-l{border-left: 1px solid #ddd!important;}
.bdr-t0 { border-top: 0px!important;}
.bdr-b-dt{border-bottom: 1px dotted #ddd;}
.bdr-b-dsh{border-bottom: 1px dashed #ddd;}

.padd-0{padding: 0px!important;}
.padd-4{padding: 4px!important;}
.padd-5{ padding:5px !important;}
.padd-10 { padding:10px !important;}
.padd-T0,.pt0{padding-top: 0px!important;}
.padd-R0,.pr0{padding-right: 0px!important;}
.padd-B0,.pb0{padding-bottom: 0px!important;}
.padd-L0,.pl0{padding-left: 0px!important;}
.padd-b5,.pb5{padding-bottom: 5px!important;}
.padd-b10,.pb10{padding-bottom: 10px!important;}
.padd-T5,.pt5{padding-top: 5px!important;}
.padd-T10,.pt10{padding-top: 10px!important;}


.paddinglr0{padding-left: 0px!important; padding-right: 0px!important;}
.paddinglr5{padding-left: 5px!important; padding-right: 5px!important;}
.paddinglr6{padding-left: 6px!important; padding-right: 6px!important;}
.paddinglr7{padding-left: 7px!important; padding-right: 7px!important;}
.paddinglr8{padding-left: 8px!important; padding-right: 8px!important;}
.paddinglr9{padding-left: 9px!important; padding-right: 9px!important;}
.paddinglr10{padding-left: 10px!important; padding-right: 10px!important;}

.pt5{padding-top: 5px!important;}
.pt6{padding-top: 6px!important;}
.pt7{padding-top: 7px!important;}

.mtb10{margin-top: 10px!important; margin-bottom: 15px!important;}
.mtb15{margin-top: 15px!important; margin-bottom: 15px!important;}
.mtb20{margin-top: 20px!important; margin-bottom: 20px!important;}
.mtb25{margin-top: 25px!important; margin-bottom: 25px!important;}
.mtb30{margin-top: 30px!important; margin-bottom: 30px!important;}

.font9{font-size: 9px!important;} .font10{font-size: 10px!important;} .font11{font-size: 11px!important;}
.font12{font-size: 12px!important;} .font13{font-size: 13px!important;} .font14{font-size: 14px!important;} 
.font15{font-size: 15px!important;} .font16{font-size: 16px!important;} .font17{font-size: 17px!important;} 
.font18{font-size: 18px!important;} .font19{font-size: 19px!important;} .font20{font-size: 20px!important;} 
.font21{font-size: 21px!important;} .font22{font-size: 22px!important;} .font23{font-size: 23px!important;} 
.font24{font-size: 24px!important;} .font25{font-size: 25px!important;} .font26{font-size: 26px!important;} 
.font27{font-size: 27px!important;} .font28{font-size: 28px!important;} .font29{font-size: 29px!important;} 


.width-80{width: 80px; display: inline-block;}
.width-90{width: 90px; display: inline-block;}
.width-100{width: 100px; display: inline-block;}
.width-110{width: 110px; display: inline-block;}
.width-120{width: 120px; display: inline-block;}
.width-130{width: 130px; display: inline-block!important;}
.width-140{width: 140px; display: inline-block!important;}
.width-150{width: 150px; display: inline-block;}

/*loade style*/
.loader{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: black;
	display: table;
}
.loader .spinner {
	margin: 0px auto;
	width: 80px;
	height: 70px;
	text-align: center;
	font-size: 10px;
	display: block;
	vertical-align: middle;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -40px;

}
.loader .spinner > div {
	background: #eab92d; /* Old browsers */
	background: -moz-linear-gradient(top,  #eab92d 0%, #dce014 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eab92d 0%,#dce014 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eab92d 0%,#dce014 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#dce014',GradientType=0 ); /* IE6-9 */

  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.loader .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loader .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.loader .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.loader .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% { transform: scaleY(0.4);}
  20% { transform: scaleY(1.0);}
}

a:link, input, button, select{outline: none!important;}

.text-theme{ color: #EC971F;}
.text-black{ color: #000000;}
.text-gray{ color: #888888;}
.text-blue{ color: #0269C2}
.text-blue{ color: #0269C2}
.text-black{ color: #000000}
.text-blue-shadow{text-shadow: 0px 1px 1px #0269C2}
.text-black-shadow{text-shadow: 0px 1px 1px #333}

.navbar-inverse .navbar-nav > li > a{
	font-size: 13px;
	color: #444;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover{
	color: #111;
}
.navbar-inverse{
	/*background: rgba(255,220,115,0.9);*/
	background: linear-gradient(#97700B, #ECBA3D);
	border-bottom: 1px solid #E9BC2B;
}
.navbar-brand{
	padding-top: 5.5px;
}
.navbar-brand img{
	height: 40px;
	border: 1px solid #E9BC2B;
}



.form-control{
	border-radius: 2px!important;
	box-shadow: none;
	/*border-color: #009ECE;*/
	border-color: #ccc;
}
.form-control:focus{
	box-shadow: 0px 0px 6px #CB9D29;
	border-color: #CB9D29;
}
.btn{border-radius: 2px!important;}
.image-set{
	position: absolute;
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	left: 0px;
	top: 0px;
	overflow:hidden;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: -1;
}
.background-white {
	background-color: #fff!important;
	padding: 0px 15px;
}
.header-content {
	width: 100%;
	height: 300px;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px!important;
	border-radius: 3px 3px 0px 0px;
}
.profile-img {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #aaa;
  position: absolute;
  bottom: -44px;
  left: 15px;
  z-index: 2;
}
.profile-img img {
	height: 100%;
	background-color: #fff;
	border: 4px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #666;
}
.profile-right {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1;
	padding-left: 200px;
}
.profile-right h1 {
	color: #fff!important;
	font-size: 24px;
  max-width: 275px;
  position: relative;
  line-height: 60px;
  font-weight: 500;
  text-shadow: 0px 1px 1px #333;
  margin: 0px!important;
}
.section-left {
	float: left;
	text-align: left;
}
.section-right {
	float: right;
	text-align: right;
}
.section-right .btn-sm {
  padding: 3px 6px;
  font-weight: bold;
  color: #666;
  border: 0px;
  margin-right: 20px;
}
.header-bottom-menu {
	height: 44px;
	background: transparent;
	border-right: 1px solid #ddd;
	padding-left: 200px;
	position: relative;
}
.menu_simple {
  width: 100%;
  background: #ECBA3D;
  height: 44px;
}
.menu_simple ul {
	list-style-type: none;
  margin: 0; 
  padding: 0;
}
.menu_simple ul li a {
	display: block;
  float: left; 
  text-decoration: none;
  color: #fff; 
  padding: 0px 35px;
  background: rgba(235,185,61,0.9);
  height: 44px;
  line-height: 44px;
  border-right: 1px solid #c38c04;
}
.menu_simple ul li:last-child a {
  border-right: 0px solid #000;
}
.menu_simple ul li a:hover, 
.menu_simple ul li a.current {
  color: white;
  background-color: #97700B;
}
.menusimple-mob-nav {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 18px;
	color: #fff;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: 700ms;
}
.menusimple-mob-nav:hover {
	transform: rotate(360deg);
}




.secnd-menu {
	position: relative;
	width: 100%;
	height: 40px;
	background: rgba(164,123,9, 0.6);
}
.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.topnav ul li a {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 0px 16px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
  border-right: 1px solid #ccc;
}
.topnav ul li a:hover,
.topnav ul li a.active{
	background-color: #ECBF4B;
}
.search-right {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}
.search-right form input{
  background: #f9f9f9;
  font-size: 12px;
  color: #666;
  border: none;
  padding: 0px 5px;
  border-radius: 2px;
  height: 28px;
  width: 190px;
}
.btn-friendsearch{
  background: #ECBA3D;
  font-size: 14px;
  padding: 4px 12px 5px 12px;
  border-radius: 2px;
  border: none;
  display: inline-block;
  color: #fff;
}
.scnd-mob-nav {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 18px;
	color: #fff;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: 700ms;
}
.scnd-mob-nav:hover {
	transform: rotate(360deg);
}

.labelfont label{
  font-weight: normal;
  color: #888;
  font-size: 15px;
}
.addinputfield{
   color: #A27A12;
   padding-top: 20px;
   padding-bottom: 20px;
   display: inline-block;

}
.addinputfieldanni{
   color: #A27A12;
   padding-top: 5px;
   padding-bottom: 5px;
   display: inline-block;
}
.inputfield-popup {
  display:none;
  position: absolute;
  width:270px;
  height: 90px;
  top: 10px;
  left: 15px;
  box-shadow: 0px 0px 15px #81868A;
  padding:10px;
  z-index:999;
  border-radius:5px;
  background: #F8F8F8;  
}
fieldset.scheduler-border {
  border: 1px solid  #CD9F2B !important;
 padding: 0 1.4em 1.4em 1.4em !important;
 margin: 0 0 1.5em 0 !important;
 -webkit-box-shadow:  0px 0px 0px 0px #000;
 box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
  font-size: 16px;
  color: #CD9F2B;;
  margin-top: 20px;
}
.top-headingcontact{
  color: #CD9F2B;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.remove_field i{
  color: #C99C28;
  cursor: pointer;
}

.lang-table{
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  margin-top: 8px;
}
.lang-table tr td{
  border:1px solid #ddd;
  padding: 4px;
}
.lang-table thead{
  background: #eee;
}
.lang-table tr td:nth-child(2),
.lang-table tr td:nth-child(3){
  width: 100px;
  text-align: center;
}

.error{
  margin-top: 3px;
  font-size: 13px!important;
  display: block;
  position: relative;
  color: red!important;
}

/*Facebook post Left navigation*/
.left-navigation{
	background: #fff;
	width: 100%;
	height: 100%;
	border: 1px solid #e5e5e5;
	position: relative;
}
.left-navigation ul{
	list-style-type: none;
	display: block;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.left-navigation ul li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
	padding-left: 20px;
	border-left: 2px solid transparent;
}
.left-navigation ul li.selected {
	border-left: 2px solid #755405;
}
.left-navigation ul li:last-child{
	border-bottom: 0px solid #e5e5e5;
}
.left-navigation ul li a{
	text-decoration: none;
	color: #777;
	font-size: 14px;
	display: block;
}
.left-navigation ul li a:hover, .left-navigation ul li.selected a{
	color: #755405;
	transition: 500ms;
}

.facebook-post-bg {
	background: #f6f7f8;
	padding: 15px;
	border: 1px solid #e5e6e9;
}
.facebook-post{
	background: #fff;
	border: 1px solid #e5e6e9;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 15px;
}
.facebook-post .media {
	padding: 0px;
	height: 50px;
	vertical-align: middle;
	margin-bottom: 8px;
}
.facebook-post .media-left{
	padding-bottom: 0px;
}
.facebook-post .media .media-body{
	height: 100%;
}
.facebook-post .media-left a img{
	border: 1px solid #eee;
	width: 50px;
	height: 50px;
	border-radius: 2px;
	padding: 0px;
}
.facebook-post .media-heading{
	margin-bottom: 0px;
	margin-top: 0px;
	color: #97700B;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
}
.facebook-post .media-heading-content{
	font-size: 14px;
	color: #90949c;
	font-weight: 600;
	margin-bottom: 0px;
}
.facebook-post .post-media{
	width: 100%;
	display: block;
	margin-bottom: 10px;
	max-height: 350px;
	overflow: hidden;
}
.facebook-post .post-bottom {
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
}
.facebook-post .post-bottom ul{
	margin: 0px;
	padding: 0px;
}
.facebook-post .post-bottom ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	height: 35px;
	line-height: 35px;
}
.facebook-post .post-bottom ul li a{
	text-decoration: none;
	color: #A77E14;
}
.facebook-post .post-comment-box {
	background: #f6f7f9;
	width: 100%;
	height: 54px;
	padding: 10px 10px;
	display: block;
	border: 1px solid #e1e2e3;
}
.facebook-post .post-comment-box input{
	border-radius: 0px!important;
	height: 34px;
	color: #666;
	padding: 0px 10px;
}
.facebook-post .post-comment-box input:focus{
	box-shadow: none;
	border: 1px solid #ccc;
}

.select2-container .select2-choices:hover {
  border: 1px solid red!important;
  color: #888!important;
}
/*.select2-container .select2-choices .select2-search-field input:focuse {
  box-shadow: 0px 0px 6px #CB9D29;
	border-color: #666;
}*/
.select2-search-choice a{
	color: #666;
}
.select2-search-choice a:hover{
	color: #CB9D29;
}
.select2-search-choice-close i.fa{
	font-size: 14px;
}




.footer {
	border-top: 1px solid #f2ce02;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background: rgba(255,220,115,0.9);*/
  background: rgba(235,185,61,0.9);
}
.footer ul{
	display: inline-block;
	position: relative;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	margin-top: 5px;
}
.footer ul li{
	line-height: 13px;
	display: inline-block;
	border-left: 1px solid #EC971F;
	padding-left: 12px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;}
	
.footer ul li:first-child{
	border-left: none;
}
.footer ul li a{
	font-size: 13px;
	/*color: #009ECE;*/
	color: #333;
}
.copy-rights{
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 0px;
	color: #555;
}
.control-label strong{
	color: red!important;
	font-weight: bold;
	font-size: 17px;
}
.labelfont-abutme small{
	display: block;
	background:#f2f2f2;
	padding: 4px 10px;
	color: #666;
	border-left: 2px solid #DAAA32;
}
.sub-education{
text-align: left;
overflow: hidden;
}

.center-heading-afterbefore {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  margin-bottom: 20px;
  color: #D8A931;
}

.center-heading-afterbefore:before,
.center-heading-afterbefore:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 1200%;
  opacity: 0.9;
}
.center-heading-afterbefore:before {
  right: 100%;
}
.center-heading-afterbefore:after {
  left: 100%;
}
.set-editbutton{
	position: relative;
}
.set-editbutton a{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 16px;
	background: #fff;
	width: 70px;
	z-index: 100;
	text-decoration: none;
	color: #D8A931; 
	text-align: right;
}
/*.container {
  overflow: hidden;
  text-align: center;
}*/

@media(max-width: 360px){
	body{ margin-bottom: 100px;}
	.footer {
		height: 80px;
	}
}

.error-messages.ng-active {
  background:rgba(222,69,71,0.7);
  color:white;
  font-size: 13px;
  padding:5px 10px 5px 10px;
  border-radius:2px;
  margin-top:10px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent rgba(222,69,71,0.7);
  border-width:5px;
}

.about-us-bg{
		background: #fff;
		padding: 20px;
	}
	.about-us-bg p{
		color: #666!important;
		font-size: 17px;
	}
	.about-us-bg ol{
		margin: 0px;
		padding: 0px;
	}
	.about-us-bg ol li{
		color: #666!important;
		margin-left: 20px;
		margin-top: 20px;
		font-size: 17px;
	}
	.about-us-bg h3{
		color: #D3A42E;
		padding: 15px 0px;
		font-size: 24px;
	}
