@import url(font-awesome.min.css);
@import url(../fonts/Avenir-Book.css);
/*font-family:'Avenir-Book';*/
body{
	font-family:'Avenir-Book';
	min-height: 100%;
	width: 100%;
}
*{
	/*for IE scrollbar change*/
	scrollbar-face-color:#999;
	scrollbar-base-color:none;
	scrollbar-arrow-color:#012323;
	scrollbar-track-color: #F8F8F8;
	scrollbar-shadow-color:none;
	scrollbar-highlight-color:none;
	scrollbar-3dlight-color:none;
	scrollbar-darkshadow-Color:none;
}

::-webkit-scrollbar { width: 8px; background: #ddd;height: 8px;}
::-webkit-scrollbar-track { border-radius: 0px;}
::-webkit-scrollbar-thumb { border-radius: 20px; background-color: #999;}
::-webkit-scrollbar-thumb:hover {background-color:#012323;}

::selection{color: #ffffff;background-color: #012323;}
::-webkit-selection{color: #ffffff;background-color: #012323;}
::-moz-selection{color: #ffffff;background-color: #012323;}
::-ms-selection{color: #ffffff;background-color: #012323;}
::-o-selection{color: #ffffff;background-color: #012323;}

a:link, input, button, select{outline: none!important;}
.form-control{box-shadow: none!important;}
.btn, .form-control{border-radius: 2px;}

.r{box-shadow:inset 0px 0px 10px red;}
.g{box-shadow:inset 0px 0px 10px green;}
.b{box-shadow:inset 0px 0px 10px blue;}

.mt5{margin-top: 5px;} .mt10{margin-top: 10px;}
.mt11{margin-top: 11px;} .mt12{margin-top: 12px;}
.mt13{margin-top: 13px;} .mt14{margin-top: 14px;}
.mt15{margin-top: 15px;} .mt20{margin-top: 20px;}
.mt25{margin-top: 5px;} .mt30{margin-top: 30px;}
.mt35{margin-top: 35px;} .mt40{margin-top: 40px;}
.mt45{margin-top: 45px;} .mt50{margin-top: 50px;}


/*top main header style*/
.top-header{
	width: 100%;
	height: 50px;
	z-index: 10;
	position: fixed;
	background: linear-gradient(#97700B, #ECBA3D);
 border-bottom: 1px solid #E9BC2B;
}
.username-btn{margin-top: 5px; cursor: pointer; }
.username-btn span.dropdown-toggle img{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	box-shadow: 0px 0px 4px #999;
	margin-right: 4px;
}
.username-btn span.dropdown-toggle .caret{color:#ccc;}
.username-btn span.dropdown-toggle{box-shadow: none!important;}

.dropdown-common li a{line-height: 30px; font-size: 16px; transition:300ms; color: #444;}
.dropdown-common li a:hover{background-color: #DE4547; color: #fff;}
.dropdown-common li a i{min-width: 20px; text-align: center; margin-right: 7px;}



/*navigation set*/
.mobile-nav.commonset{}
.wrapper-box.commonset{padding-left: 0px;}
.left-box.commonset{left: -260px;}

.wrapper-box{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	display: block;
	margin: 0px auto;
	padding-left: 240px;
	box-shadow: 0px 0px 5px #888;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
}
.mobile-nav{
	width: 32px;
	height: 32px;
	font-size: 30px;
	line-height: 28px;
	color: #176666;
	display: inline-block;
	vertical-align: middle;
	margin-top: 11px;
	cursor: pointer;
	margin-right: 7px;
	-webkit-transition:500ms;
	transition:500ms;
}
.mobile-nav:hover, .mobile-nav.commonset{
	color: #888;
}
.logo-img{
	width: auto;
	height: 40px;
	display: inline-block;
	margin-top: 5px;
	vertical-align: middle;
	position: absolute;
}
.left-box{
	width: 240px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 50px;
	z-index: 4;
	background: linear-gradient(#ECBA3D, #97700B);
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
}

.left-navigation{
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.left-navigation ul{margin: 0px; padding: 0px; list-style-type: none;}
.left-navigation ul li a.dashboard-list{border-top: transparent;}
.left-navigation ul li a,
.left-navigation ul li a.more-menu.collapsed{
	font-size: 16.5px;
	display: block;
	color: #333;
	height: 48px;
	line-height: 48px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px dotted #DE4547;
	text-decoration: none;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
	position: relative;
	background: transparent;
}
.left-navigation ul li a:hover, 
.left-navigation ul li a.active,
.left-navigation ul li a.more-menu,
.left-navigation ul li a.more-menu:hover{
	color: #fff;
	background: #DE4547;
}
.left-navigation ul li a.active.more-menu{
	color: #ffffff;
}
.more-menu span{
	position: absolute;
	width: 10px;
	height: 10px;
	right: 14px;
	top: 16px;
	border-top: 1px solid #222;
	border-right: 1px solid #222;
	-webkit-transition: 400ms;
	transition: 400ms;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	transform: rotate(135deg);
	
}
.left-navigation ul li a.more-menu:hover span,
.left-navigation ul li a.active span,
.left-navigation ul li a span
{ border-color: #fff;}
.left-navigation ul li a.active span{border-color: #444!important;}

.more-menu.collapsed span, .left-navigation ul li a.active.more-menu.collapsed span{
	border-color: #444;
	top: 19px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.left-navigation ul li a i{
	min-width: 32px;
	min-height: 32px;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin-right: 8px;
	vertical-align: middle;
}
.panel-menu{
	padding:0px!important;
	margin:0px!important;
	border: none!important;
	background: transparent!important;
	box-shadow: none!important;
}
.left-submenu{
	background: #eee;
}
.left-submenu li a{
	color: #777!important;
	padding-left: 35px!important;
}
.left-submenu li a.active-submenu{color: #444!important; background: #ccc;}
.left-submenu li a:hover{color: #fff!important;}
.active-submenu:before{
	content: '';
	position: absolute;
	width: 6px;
	height:100%;
	background-color: #DE4547;
	left: 0px;
}

/*Right box*/
.right-box{
	width: 100%;
	height: 100%;
	padding-top: 50px;
	position: relative;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
	z-index: 3;
}


.right-box-inner{
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	overflow-scrolling: touch;
	padding: 20px 20px 20px 20px;
	background: #ffffff;
}



/*---Customize Breadcrumb Design---*/
.breadcrumb {
	border: 1px dotted #bababa;
 	padding: 4px 14px;
 	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	margin-bottom: 18px;
}
.breadcrumb a {
  color: #444;
  font-size: 15px;
}
.breadcrumb a:hover {text-decoration: none;}
.breadcrumb > .active, .breadcrumb a:hover{
  color: #DE4547;
  font-size: 15px;
}
.breadcrumb > li + li:before {
  content: "\00BB";
  color: #555;
}

.nav-tabs-common{border-bottom: 1px solid #99720C;}
.nav-tabs-common > li > a{
	color: #99720C;
	background: #EEEEEE;
	border-radius: 2px;
	border-bottom: 1px solid #99720C;
	letter-spacing: 1px;
}
.nav-tabs-common > li.active > a,
.nav-tabs-common > li.active > a:focus,
.nav-tabs-common > li.active > a:hover{
	border-width: 1px;
	border-color: #99720C #99720C transparent #99720C;
	color: #99720C;
}
.tab-content-common{
	border: 1px solid #99720C;
	border-top: transparent;
	padding: 20px 14px 20px 14px;
	margin-bottom: 15px;
}

.table thead{
	background: #F8E8A0;
	background: linear-gradient( #F8E8A0, #EBB93D);
}
.table thead tr th{border-bottom: none;}
.table-action thead tr th:last-child,
.table-action tbody tr td:last-child{
	text-align: center;
}
.table-action tbody tr td:last-child .btn,
.table-action tbody tr td:last-child .btn{
	margin-bottom: 2px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
	background-color: #F8E8A0;
  border-color: #EBB93D;
  color: #333;
}

/*login page style*/
.login-bg {
	position: fixed;
	width: 100%;
	height: 100%;
  background-image: radial-gradient(ellipse, #EBB93D 0%, #A27A12 90%);
  background-image: -webkit-radial-gradient(ellipse, #EBB93D 0%, #A27A12 90%);
  background-image: -o-radial-gradient(ellipse, #EBB93D 0%, #A27A12 90%);
  background-image: -moz-radial-gradient(ellipse, #EBB93D 0%, #A27A12 90%);
  background-image: -ms-radial-gradient(ellipse, #EBB93D 0%, #A27A12 90%);
}
.login-mainbox {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px;
  margin-bottom: 70px;
}
.loginbox {
  background: #fff;
  position: relative;
  padding: 20px;
  top: 60px;
  border-radius: 2px;
  width: 100%;
  max-width: 320px;
  min-height: 260px;
  margin: 0px auto;
  box-shadow: 0px 10px 10px #A07810;
}
.login-logobox {
  margin-top: 5px;
  height: auto;
  width: 100%;
  text-align: center;
}
.login-textbox {
	border-top: 1px dotted #ccc;
	padding-top: 16px;
  width: 100%;
  color: #666;
  font-size: 20px;
  margin-top: 5px;
}
.loginbox .form-control {
  display: block;
  border: 1px solid #ddd!important;
  border-radius: 2px!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  font-size: 16px!important;
}

/*Style code for mobile and tablet view*/
@media (max-width: 800px){
	.wrapper-box{padding-left: 0px;}
	.left-box{left: -240px;}
	.left-box.commonset{left: 0px;}
	.right-box.commonset:after{
		content: '';
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		display: block;
		background:rgba(255,255,255,0.8)!important;
		position: absolute;
		z-index: 6;
	}
	.mobile-nav{color: #176666;}
}